*{
    
    border-radius: border-box;
    margin: 0;
    
    padding: 0;
}

body{
    font-size: 25px;
    font-family: sans-serif;
    height: 100%;
    width: 100vh;
  background:rgb(34, 32, 32);


}
body{

  /* background-color: linear-gradient(to left bottom, red, black yellow); */
     display: flex;
     
     justify-content: center;
     align-items: center;
}

input{
    border: none;
    outline: none;
}
input:focus {
    outline: none;
}
button{
    width: 100%;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    box-shadow: -1px -1px 10px #131111,1px 1px 10px #392e2e;


}
button:focus{
    outline: none;
}

.container{
    background: #282828;
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .75em;
    width: 325px;
    border: 1px solid #333;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:10px;

}
.screen{

    grid-column: 1/5;
    border-radius: 0.75rem;
    font-size: 2rem;
    height: 6rem;
    color: #fff;
    background: #333849 ;
    text-align: end;
    padding: 0.5rem;
}


::placeholder
{
    color: #fff;
}

.symbol,
.number{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    aspect-ratio: 1;
    font-size: 1.25rem;
    color: #fff;
    transform: .15s ease;
    /* border: 1px solid #415741; */
    border-radius: 40%;
}
.symbol{
    background: #ffaa00 ;
}


